<div id="title-bar">
    <a id="title" ui-sref="main-options">Learn Spanish!</a>
</div>

<div id="viewport">
    <div class="options-container">
        <div class="options-message fade">What Would You Like To Practice?</div>

        <div class="options-menu">
            <a class="option three" ng-click="mainctrl.recordOption('Verbs')" ui-sref="to-from-options">Verbs</a>
            <a class="option three" ng-click="mainctrl.recordOption('Numbers')" ui-sref="to-from-options">Numbers</a>
            <a class="option three" ng-click="mainctrl.recordOption('Vocabulary')" ui-sref="to-from-options">Vocabulary</a>
        </div>
    </div>
</div>
