<div id="title-bar">
    <a id="title" ui-sref="main-options">Learn Spanish!</a>
</div>

<div id="viewport">
    <div class="options-container">
        <div class="options-message">How Would You Like To Practice {{tofromctrl.mainOption}}?</div>

        <div class="options-menu">
            <a class="option two" ng-click="tofromctrl.recordOption('To')" ui-sref="{{tofromctrl.ui_sref}}">To Spanish</a>
            <a class="option two" ng-click="tofromctrl.recordOption('From')" ui-sref="{{tofromctrl.ui_sref}}">From Spanish</a>
        </div>
    </div>
</div>
